.app {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.listing-header {
  font-size: 24px;
}

.listing-content {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}